*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mybtns{
    padding: 20px;
}

.mybtns button{
    font-weight: bold;
    padding: 5px;
}

input{
    margin: 2px;
    padding: 5px;
    font-weight: bold;
}

.displaybox{
    height: 200px;
    width: 300px;
    background: burlywood;
    margin: 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.displaybox h3{
    color: white;
   font-size: 2rem;
}